body{
    background-color: crimson;
    background-size: cover;
    font-family: Roboto-Thin, sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    color:whitesmoke;
}

h2{
    text-align: left;
    color:ghostwhite;

}

h3{
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    color: white;
}

header{
    text-align: center;
}


#Capilary-container{
    margin-top: 32px;
    margin-bottom: 23px;
    text-align:center;
    border-radius: 22px;
}

/**Section**/
#vein-section{
    margin: 21px auto;
    width:400px;
    height:140px;
    padding: 20px;
    border-radius:15px;
    background-color:#0000ff;
    box-shadow: none;
    transition-duration: 0.5s;
}

#vein-section:hover{
    box-shadow: 1px 2px 0 1px rgba(0,0,0,1);
    transition-duration: 0.5s;
}

#capilary-section{
    margin: 21px auto;
    width: 400px;
    height:140px;
    padding: 20px;
    border-radius: 15px;
    background-color:#004b87;
    transition-duration: 0.5s;
    box-shadow: none;
}

#capilary-section:hover{
    box-shadow: 1px 2px 0 1px rgba(0,0,0,1);
    transition-duration: 0.5s;
}

#Artery-section{
    margin: 21px auto;
    text-align:center;
    width: 400px;
    height: 140px;
    padding: 20px;
    border-radius: 15px;
    border: none;
    background-color: lightcoral;
    transition-duration: 0.5s;
    box-shadow: none;
}

#Artery-section:hover{
    box-shadow: 1px 2px 0 1px rgba(0,0,0,1);
    transition-duration: 0.5s;
}

#capilary-image{
    border-radius: 30px;
    box-shadow: 0 0 0 1px rgba(0,0,4,0.1);

}

/**Section-ends**/



#artery-link{
    scroll-behavior:auto;
}

#Heart-img{
    text-align: center;
}

header{
    padding: 20px 20px;
    background-color: #1e1e1e;
}

footer{
    padding: 15px 20px;
    background-color: #1e1e1e;
    text-align: center;
    color:white;
}

a{
    margin-left: 15px;
}

nav{
    text-align: center;
}

nav a{
    margin-bottom: 40px;
    text-decoration:none;
    text-align:center;
    font-weight: bold;
    color:floralwhite;
}

li{
    text-align:left;
    color: white;
}

.new-div{
    padding: 20px 20px;
    background-color: forestgreen;
}
